// Variables
$website-width: 1280px;
$main-color: #e6b82d;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('https://cdn.pixabay.com/photo/2021/04/22/18/35/leaf-6199807_960_720.jpg');

// Links
$link-color: #1a5b9e;
$active-link-color: #10375e;

// Amelie color scheme
$blueish: #29325c;
$redish: #d54f54;
$lightgrayish: #dadcdc;
$greenish: #738c0c;
$yellowish: #e6b82d;
$azureish: #30b1c2;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
